<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--가지고 온 값을 하나하나 넣어줄거다-->
    <h1>Update</h1>

    <form action="/updateres/" method="post"> {% csrf_token %}
        <input type="hidden" name="id" value="{{ dto.id }}">

        <table border="1">
            <tr>
                <th>작성자</th>
                <td><input type="text" value="{{ dto.myname }}" readonly></td>
            </tr>
            <tr>
                <th>제목</th>
                <td><input type="text" name="mytitle" value="{{ dto.mytitle }}"></td>
            </tr>
            <tr>
                <th>내용</th>
                <td><textarea rows="10" cols="60" name="mycontent">{{ dto.mycontent }}</textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input type="button" value="취소" onclick="">
                    <input type="submit" value="수정">
                </td>
            </tr>
        </table>
    </form>
<!--submit 이벤트가 발생하면 폼 태ㅐ그 안에 있는 네임 속성들의 밸류값을 가지고 action으로 가는데 방법이 method(get/post)-->
</body>
</html>